body
{
    font-family: 'Roboto', sans-serif;
    background: #f1f1f1;
}
.header
{
    width: 100%;
    padding-top: 200px;
    padding-bottom: 200px;

    -webkit-animation-name: headeranimation;
       -moz-animation-name: headeranimation;
            animation-name: headeranimation;
    -webkit-animation-duration: 1s;
       -moz-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-play-state: paused;
       -moz-animation-play-state: paused;
            animation-play-state: paused;
    -webkit-animation-timing-function: ease;
       -moz-animation-timing-function: ease;
            animation-timing-function: ease;

    background-position: center center;
    background-size: cover;

            animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
       -moz-animation-fill-mode: forwards;
}

@keyframes headeranimation
{
    to
    {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@-webkit-keyframes headeranimation
{
    to
    {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@-moz-keyframes headeranimation
{
    to
    {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

h1
{
    margin: 0 0 20px 0;

    color: rgba(10, 10, 10, .6);
}

div.form-group
{
    margin-bottom: 0;
}

div.form-group > input.form-control.input-lg
{
    border: 1px solid #fff;
    box-shadow: none;
}

div.form-group > input.form-control.input-lg:focus
{
    border: 1px solid #666;
}

.search-bar-content
{
    text-align: center;
}

.image-item
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.image-item img
{
    width: 100%;
}

.loadingWrapper
{
    background: rgba(255, 255 ,255, 0.5);
    position: fixed;
    bottom: 16px;
    right: 16px;
    z-index: 999;
    padding: 16px;
}

.loading
{
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    margin: 0 auto 0 auto;

    -webkit-animation: spinner 1s ease infinite;
       -moz-animation: spinner 1s ease infinite;
            animation: spinner 1s ease infinite;

    border: 8px solid rgba(0, 0, 255, 0.5);
    border-right-color: transparent;
    border-radius: 50%;
}

@keyframes spinner
{
    from
    {
        transform: rotate(0deg);
    }
    to
    {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spinner
{
    from
    {
        transform: rotate(0deg);
    }
    to
    {
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinner
{
    from
    {
        transform: rotate(0deg);
    }
    to
    {
        transform: rotate(360deg);
    }
}
